body{
	background-color: gray;
}
h1{
	font-family: Verdana;
}
h1#titulo{
	color: blue;
}

#teste{
	color:purple;
}

/* Agrupando css */
.white, p.missao{
	color: white;
}

p.missao{
	font-family: Arial;
}