body{
	background-color: gray;
}
h1{
	font-family: Verdana;
}
h1#titulo{
	color: blue;
}

#teste{
	color:purple;
}

/* Agrupando css */
.white, p.missao{
	color: white;
}

p.missao{
	font-family: Arial;
}

/* seletores descendentes */
.missao strong{
	color: purple;
}

body p{
	font-size: 30px;
}

/* seletores descendentes filhos diretos o sinal de > faz com que só pegue o css em filhos diretos*/
article > .white{
	font-variant: small-caps;
}

/*cores*/
.caixa1{
	background-color: blue;
	color: white;
}

/* rgb de 0 a 255 sendo r = vermelho, g = verde, b = azul */
.caixa2{
	background-color: rgb(255,0,0);
	color: rgb(0,0,0); 
}

.caixa3{
	background-color: rgb(255,200,0);
	color: rgb(255,255,255);
}

/* 

	bit.ly/dec2hex ferramenta para converter decimal para hexacimal
	Os dois primeiros são o vermelho, depois verde, depois azul
*/
.caixa4{
	background-color: #FF00c8;
	color: #ddFF00;
}

/* 

abreviando o hexadecimal vermelho, verde, azul
não precisa decorar os números basta ir no site http://hnl.name/color-schemer-online/
*/
.caixa5{
	background-color: #dF0;
	color: #000;
}

/* FORMATAÇÃO DE TEXTOS 

serif = grupo de fontes com serifa
sans-serif = grupo de fontes sem serifa
navegador vai procurar na ordem das fontes

*/
.nome{
	color: #f00;
	font-size: 24px;
	font-family: "Trebuchet MS", sans-serif;
	font-style: italic;
	font-weight: normal;
	/* fazer tudo de uma vez */
	font: italic bold 24px "Trebuchet MS", sans-serif;
	/* risca o texto */
	text-decoration: line-through;
	text-align: left;
}

.segmento{
	font-family: Palatino, serif;
	font-style: normal;
	font-weight: bold;
	/* deixa sem nada */
	text-decoration: none;
	/* sublinha */
	text-decoration: underline;
	/* O ALINHAMENTO É SEMPRE EM RELAÇÃO AO PAI */
	text-align: center;
	text-align: justify;
	text-align: right; 
}

/* 

ENTENDENDO A PROPRIEDADE DISPLAY 
INLINE SÓ OCUPA O ESPAÇO QUE PRECISA
BLOCK OCUPA A LINHA INTEIRA
EM COMPUTED DÁ PARA VER O CSS QUE ESTÁ NO ELEMENTO
USER AGENT = NAVEGADOR NO CSS DO F12

*/
body{
	font-size: 32px;
}

.nome-empresa {
	background-color: pink;
}

.segmento-empresa{
	background-color: red;
}

.curso-html{
	background-color: #00dd00;
}

.curso-css{
	background-color: #fdff11;
}

.curso-java{
	background-color: #00dddd;
}

.curso-bootstrap{
	background-color: #ee00da;
}

/* ELEMENTOS COM DISPLAY INLINE NÃO PERMITEM ALTERAR A ALTURA E LARGURA */
.nome-empresa{
	display: block;
	height: 100px;
	width: 300px;
}

.segmento-empresa{
	/* ELEMENTO CONTINUA EXISTINDO MAS FICA ESCONDIDO */
	display: none;
}

/* altura e largura não funcionam em display inline 

DISPLAY PADRÃO DE P, DIV É BLOCK
DISPLAY PADRÃO DE LINK É INLINE

*/
.curso-html, .curso-css{
	display: inline;
	height: 100px;
	width: 300px;
}

.curso-java, .curso-bootstrap{
	/*INLINE-BLOCK DEIXA ALTERAR ALTURA E LARGURA E FICA LADO A LADO */
	display: inline-block;
	height: 100px;
	width: 300px;
}

/* TRABALHANDO COM BORDAS */

a{
	/*borda fina*/
	border-width: thin;
	/*borda grossa*/
	border-width: thick;
	border-width: medium;
	border-color: red;
	border-style: solid;
	border-style: dashed;
	border-style: dotted;
	/*tudo de uma vez */
	border: thick blue solid;
	border-bottom: 5px dotted #0f0;
	border-right: 5px dotted #0f0;
}

p{
	width: 300px;
	height: 300px;
	border: 5px solid black;
	/* primeiro é top-left e bottom right e o segundo top right e bottom left*/
	border-radius: 70px 20px;
	/* top left -> top right -> bottom right -> bottom left*/
	border-radius: 0px 10px 50px 100px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	background-color: #ccc;
}

/* 

TRABALHANDO COM PADDING 
PADDING É A DISTÂNCIA ENTRE O CONTEÚDO E A BORDA
PADDING SOMA COM A LARGURA DA BORDA E A JA DEFINIDA

*/

p{
	text-align: justify;
	width: 500px;
	border: 3px solid red;
	background-color: yellow;
	/* top bottom e left right*/
	padding: 20px 50px;
	padding-left: 200px;
	padding-right: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* 

TRABALHANDO COM MARGIN

É O ESPAÇAMENTO EXTERNO
O BODY JÁ VEM COM MARGIN DE 8PX NO BROWSER

*/

body{
	/* todos os lados */
	margin: 0;
}

.frase1, .frase2{
	text-align: justify;
	width: 500px;
	padding: 20px;
	border: 3px solid red;
	background-color: yellow;
}

p{
	margin: 0;
}

.frase1{
	margin-left: 0;
	margin-top: 200px;
	margin-bottom: 24px;
	margin-right: 33px;
	/*SAI DA AREA VISÍVEL*/
	margin-top: -100px;
	/* em cima embaixo, direita esquerda */
	margin: 10px 100px;
	/* topo, direita, baixo, esquerda*/
	margin: 20px 0 30px 50px;
}

.frase2{
	/* auto centraliza o elemento */
	margin: 0 auto;
}